:host {
  display: block;
  background:#fff;
}

.ColorPicker-colorwheel-wrapper
{
	position: relative;
	width: 400px;
	height: 400px;
}
.ColorPicker-colorwheel, .ColorPicker-colorwheel-indicator
{
	position: absolute;
}
.ColorPicker-colorwheel
{
	background: #000;
}
.ColorPicker-colorwheel-indicator
{
	border: 2px #fff solid;
	border-radius: 20px;
	width: 10px;
	height: 10px;
	z-index:2;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
