:host {
  display: block;
  background:#fff;
}
.PassGen-customizator
{
	display: none;
}
:host([customizable]) .PassGen-customizator
{
	display: block;
}

.PassGen-customizator-options-option
{
	list-style: none;
}
